body {
  overflow-y: hidden;
  .chat {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    position: relative;
    @media (min-width: 0px) and (max-width: 500px) {
      flex: 1;
    }
    .chatHeader {
      position: sticky;
      top: 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: white;
      border-bottom: 1px solid #dbdbdb;
      .chatHeaderAvatar {
        margin: 0px 18px;
        img {
          height: 24px;
          width: 24px;
          border-radius: 50%;
        }
      }
      .chatHeaderUsername {
        font-size: 18px;
        color: #262626;
        font-weight: 600;
      }
      svg {
        margin: 18px 18px 18px auto;
      }
    }
    .chatMessages {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow-y: scroll;
    }
  }
}
