body {
  overflow-y: hidden;
  .direct {
    max-width: 975px;
    max-height: 600px;
    margin: 20px auto 0px;
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: white;
    @media (min-width: 0px) and (max-width: 500px) {
      margin: 0px auto;
    }
    .lastMessagesCol {
      @media (min-width: 0px) and (max-width: 500px) {
        flex: 1;
      }
    }
    .newMessage {
      @media (min-width: 0px) and (max-width: 500px) {
        display: none;
      }
    }
  }
}
